<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="dashboard-tab-label">month</span>
    </ng-template>
    <app-month-stats></app-month-stats>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="dashboard-tab-label">week</span>
    </ng-template>
    <h1>Month</h1>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="dashboard-tab-label">year</span>
    </ng-template>
    <h1>Year</h1>
  </mat-tab>
</mat-tab-group>
