<mat-list #taskList class="tasks-list mx-auto">
  <p class="text-right" *ngIf="tasks.length">{{tasksFinished}} / {{tasks.length}}</p>
  <mat-progress-bar
    *ngIf="tasks.length" [value]="(tasksFinished / tasks.length) * 100"></mat-progress-bar>
  <mat-list-item *ngFor="let task of tasks">
    <mat-checkbox [checked]="task.finished" (change)="onItemCheck($event, task)">
      {{task.description}}
    </mat-checkbox>
    <button mat-icon-button style="margin-left: auto;"
            title="edit" (click)="openDialog('edit', task)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<div style="text-align: center">
  <button mat-stroked-button (click)="openDialog('add')">
    <mat-icon>add</mat-icon>
    Add new task
  </button>
</div>
