<div *ngIf="!isLoaded || !category" class="text-center mt-5 mb-5">
  <mat-spinner class="mx-auto"></mat-spinner>
</div>
<div *ngIf="isLoaded && category" class="text-center mt-5 mb-5">
  <p style="font-size: x-large">{{timeDisplay | time: true}}</p>
  <button mat-stroked-button (click)="onCategoryClick()"
          class="category-button">
    {{category.name}}
  </button>
  <button mat-flat-button (click)="onTimeClick()" style="margin-left: 0.5rem;"
          [color]="isTrackingTime ? 'warn' : 'primary'">
    <mat-icon>{{isTrackingTime ? 'stop' : 'play_arrow'}}</mat-icon>
    {{isTrackingTime ? 'Stop' : 'Start'}}
  </button>
  <br>
  <div *ngIf="displayCategories" class="mb-3 mx-auto mat-elevation-z5 mt-3 p-3 popup">
    <app-category [selectedCategory]="category" (categoryChange)="onCategoryChanged($event)"></app-category>
  </div>
  <button mat-button (click)="onDisplayTimeLog()">Time log</button>
  <button mat-button (click)="onOpenDialog()">Add time entry</button>
  <br>
  <p>Today total: {{totalDuration | time:true}}</p>
  <div *ngIf="displayTimeLog" class="mb-3 mx-auto mat-elevation-z5 p-3 popup">
    <app-time-log></app-time-log>
  </div>
</div>
