<h1 class="text-center">{{this.data.action === add ? 'Add' : 'Edit'}} time entry</h1>
<form class="text-center" [formGroup]="form">

  <div>
    <mat-form-field style="width: 40%; max-width: 250px;">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 40%; max-width: 250px;">
      <mat-label>Start time</mat-label>
      <input type="time" matInput formControlName="startTime" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 40%; max-width: 250px;">
      <mat-label>End time</mat-label>
      <input type="time" matInput formControlName="endTime" required>
    </mat-form-field>
  </div>

  <mat-dialog-actions align="center">
    <button type="submit" [disabled]="!form.valid" (click)="onSubmit()" mat-button color="primary">Save</button>
    <button mat-button mat-dialog-close color="warn">Cancel</button>
  </mat-dialog-actions>

</form>
