<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="dashboard-tab-label">time</span>
    </ng-template>
    <app-time></app-time>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="dashboard-tab-label">tasks</span>
    </ng-template>
    <app-tasks></app-tasks>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="dashboard-tab-label">review</span>
    </ng-template>
    <app-review></app-review>
  </mat-tab>
</mat-tab-group>
