#picker-btn {
  width: 140px;
}

#canvas-container {
  max-width: 500px;
  max-height: 250px;
  display: block;
}

#canvas {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#stats {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
  text-align: left;
  border: 1px solid #009688;
  border-radius: 6px;
}

.stats-category {
  flex: auto;
}

.stats-value {
  width: 60px;
  flex: initial;
}