<div class="text-center" style="margin-top: 3rem;">

    <h1>{{ username }}</h1>

    <mat-action-list id="options-list" class="mx-auto">
        <button mat-list-item (click)="onShowUsernameForm()">Change username</button>
        <div *ngIf="showUsernameForm">
            <form [formGroup]="usernameForm">
                <mat-form-field>
                    <mat-label>New username</mat-label>
                    <input matInput type="text" formControlName="newUsername" required>
                </mat-form-field>

                <div>
                    <button mat-button type="submit" [disabled]="!usernameForm.valid"
                    (click)="onSubmitUsernameChange()">Save</button>
                </div>

            </form>
        </div>
        <button mat-list-item (click)="onShowPasswordForm()">Change password</button>
        <div *ngIf="showPasswordForm">
            <form [formGroup]="passwordForm">
                <div>
                    <mat-form-field>
                        <mat-label>Old password</mat-label>
                        <input matInput type="password" formControlName="oldPassword" required>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>New password</mat-label>
                        <input matInput type="password" formControlName="newPassword" required>
                    </mat-form-field>
                </div>

                <div>
                    <button mat-button type="submit" [disabled]="!passwordForm.valid"
                    (click)="onSubmitPasswordChange()">Save</button>
                </div>

            </form>
        </div>
        <button mat-list-item>Logout</button>
        <button mat-list-item (click)="onDeleteAccount()">Delete account</button>
    </mat-action-list>

</div>
