<div class="text-center mt-3">
  <button mat-icon-button (click)="onPreviousPeriodClick()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div style="display: inline-block; width: 5px; visibility: hidden;">
    <input (dateChange)="onDateChanged($event)" [matDatepicker]="picker">
  </div>
  <mat-datepicker #picker [startAt]="date"></mat-datepicker>
  <button (click)="picker.open()" mat-button>{{ startDate | date }} - {{ endDate | date }}</button>
  <div style="display: inline-block; width: 5px;"></div>
  <button mat-icon-button (click)="onNextPeriodClick()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div class="text-center">
  <div id="stats" class="mt-3 mb-3">
    <p>Total time: {{ totalTime | time }}</p>
    <p>Tasks: {{ finishedTasks }} / {{ totalTasks }}</p>
    <p>Average rating: {{ (averageRating) ? averageRating : '-' }}</p>
  </div>
</div>