<div class="text-center mt-3">
  <button mat-icon-button (click)="onPreviousPeriodClick()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div style="display: inline-block; width: 5px; visibility: hidden;">
    <input (dateChange)="onDateChanged($event)" [matDatepicker]="picker">
  </div>
  <mat-datepicker #picker [startAt]="date"></mat-datepicker>
  <button id="picker-btn" (click)="picker.open()" mat-button>{{ startDate | date }} - {{ endDate | date }}</button>
  <div style="display: inline-block; width: 5px;"></div>
  <button mat-icon-button (click)="onNextPeriodClick()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div id="canvas-container" class="mx-auto text-center">
  <canvas id="canvas" #chart></canvas>
</div>

<div class="text-center">
  <div id="stats" class="mt-3 mb-3">
    <div style="display: flex;">
      <span class="stats-category">Total time:</span>
      <span class="stats-value">{{ totalTime | time: false: true }}</span>
    </div>
    <div style="display: flex;">
      <span class="stats-category">Tasks:</span>
      <span class="stats-value">{{ finishedTasks }} / {{ totalTasks }}</span>
    </div>
    <div style="display: flex;">
      <span class="stats-category">Average rating:</span>
      <span class="stats-value">{{ (averageRating) ? averageRating : '-' }}</span>
    </div>
  </div>
</div>