<mat-toolbar color="primary">
  <div class="text-center mx-auto">
    <a routerLink="" mat-flat-button color="primary" class="nav-item-brand">effort</a>
  </div>
</mat-toolbar>

<div class="container mx-auto text-center mt-5">

  <div class="mb-3 mx-auto"
  style="display: inline-block; border-radius: 4px; border: 1px solid #e0e0e0">
    <a mat-button routerLink="/login" [disableRipple]="true">
      Already have an account? Login here.
    </a>
  </div>

  <div>
    <h1>Sign up</h1>
  </div>

  <div *ngIf="showLoadingSpinner">
    <mat-spinner class="mx-auto"></mat-spinner>
  </div>

  <form [formGroup]="form" [hidden]=showLoadingSpinner>

    <div>
      <mat-form-field style="width: 185px;">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required maxlength="15">
        <mat-error *ngIf="form.controls.username.invalid">Must be at least 3 letters</mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field style="width: 185px;">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required maxlength="30">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.password.invalid">Must be at least 5 characters</mat-error>
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-checkbox formControlName="addSampleData">Include sample data</mat-checkbox>
    </div>

    <div>
      <button type="button" (click)="onCancel()" mat-stroked-button color="warn">Cancel</button>
        <button type="submit" (click)="onSubmit()" [disabled]="!form.valid" mat-stroked-button
        style="margin-left: 1rem;" color="primary">Submit</button>
    </div>

  </form>

</div>