<div>

  <div class="text-center mt-3">
    <button mat-icon-button (click)="onGetReviewForPreviousDay()" [disabled]="isEditingForm"><mat-icon>chevron_left</mat-icon></button>
    <div style="display: inline-block; width: 5px; visibility: hidden;">
      <input (dateChange)="onDatePicked($event)" [matDatepicker]="picker">
    </div>
    <mat-datepicker #picker></mat-datepicker>
    <button (click)="picker.open()" [disabled]="isEditingForm" mat-button>{{date | date: 'dd MMM, yyyy'}}</button>
    <div style="display: inline-block; width: 5px;"></div>
    <button mat-icon-button (click)="onGetReviewForNextDay()" [disabled]="isEditingForm"><mat-icon>chevron_right</mat-icon></button>
  </div>

  <div *ngIf="!isEditingForm" class="text-center mt-3">

    <div>
      <h4>Rate your day</h4>
      <button mat-button (click)="onDisplayForm()">
        <span><small>Bad</small></span>
        <mat-slider disabled min="1" max="5" [value]="review.rating"
                    thumbLabel
                    style="width: 200px; padding: 0; margin: 0;"></mat-slider>
        <span><small>Great</small></span>
      </button>
    </div>

    <div>
      <p id="review-description" (click)="onDisplayForm()" [style.color]="review.description ? 'black' : 'darkgrey'">
        {{review.description ? review.description : 'Click to edit'}}
      </p>
    </div>

  </div>

  <form *ngIf="isEditingForm" [formGroup]="reviewForm" class="text-center mt-3">

    <div>
      <h4>Rate your day</h4>
      <span><small>Bad</small></span>
      <mat-slider min="1" max="5"
                  thumbLabel formControlName="rating"
                  style="width: 200px; padding: 0; margin: 0;"></mat-slider>
      <span><small>Great</small></span>
    </div>

    <mat-form-field style="width: 400px; height: 200px;">
      <mat-label>How was your day?</mat-label>
      <textarea style="height: 100%; width: 100%; padding: 0.5rem;" mat-autosize matAutosizeMinRows="12"
                matInput formControlName="description"></textarea>
    </mat-form-field>
    <br>
    <div class="mt-3">
      <button type="submit" color="primary" [disabled]="!reviewForm.valid || reviewForm.pristine" (click)="onSubmit()" mat-stroked-button>Save</button>
      <button type="button" color="warn" style="margin-left: 1rem;" (click)="onHideForm()" mat-stroked-button>Cancel</button>
    </div>
  </form>

</div>
