<button mat-icon-button (click)="onPreviousDay()"><mat-icon>chevron_left</mat-icon></button>
<div style="display: inline-block; width: 5px; visibility: hidden;">
  <input (dateChange)="onDatePicked($event)" [matDatepicker]="picker">
</div>
<mat-datepicker #picker></mat-datepicker>
<button mat-button (click)="picker.open()">{{date | date: 'dd MMM, yyyy'}}</button>
<div style="display: inline-block; width: 5px;"></div>
<button mat-icon-button (click)="onNextDay()"><mat-icon>chevron_right</mat-icon></button>

<mat-list style="margin: 0 auto;">
  <mat-list-item *ngIf="timeEntries && !timeEntries.length">
    <div class="text-center" style="width: 100%;">
      <h2 class="text-muted">No entries for this day</h2>
    </div>
  </mat-list-item>
  <mat-list-item *ngFor="let entry of timeEntries">
    <div class="entry-item" [style]="getStyleObject(entry.category.color)">
      <span style="width: 95px; flex: initial; margin-right: 1rem; font-size: 14px;">
        {{entry.startTime | time}} - {{entry.endTime | time}}
      </span>
      <span style="width: 45px; flex: initial; margin-right: 1rem; font-size: 14px;">
        {{entry.duration | time}}
      </span>
      <span style="flex: auto; text-align: left; font-size: 14px;">
        {{entry.category.name}}
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" style="flex: initial;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu style="flex: initial;">
        <button mat-menu-item (click)="onOpenEditDialog(entry)">Edit</button>
        <button mat-menu-item (click)="onDeleteEntry(entry)">Delete</button>
      </mat-menu>
    </div>
  </mat-list-item>
</mat-list>
