<button mat-icon-button (click)="onPreviousDay()"><mat-icon>chevron_left</mat-icon></button>
<div style="display: inline-block; width: 5px; visibility: hidden;">
  <input (dateChange)="onDatePicked($event)" [matDatepicker]="picker">
</div>
<mat-datepicker #picker></mat-datepicker>
<button mat-button (click)="picker.open()">{{date | date: 'dd MMM, yyyy'}}</button>
<div style="display: inline-block; width: 5px;"></div>
<button mat-icon-button (click)="onNextDay()"><mat-icon>chevron_right</mat-icon></button>

<mat-list style="margin: 0 auto;">
  <mat-list-item *ngFor="let entry of timeEntries" style="height: 80px;">
    <div class="entry-item" [style.border-color]="entry.category.color">
      <span>
        {{entry.startTime | time}} - {{entry.endTime | time}}
      </span>
      <span>
        {{entry.duration | time}}
      </span>
      <span>
        {{entry.category.name}}
      </span>
      <div style="width: 40px; height: 42px;">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
          <button mat-menu-item (click)="onOpenEditDialog(entry)">Edit</button>
          <button mat-menu-item (click)="onDeleteEntry(entry)">Delete</button>
        </mat-menu>
      </div>
    </div>
  </mat-list-item>
</mat-list>
