<div class="text-center mt-5">
  <p style="font-size: x-large">{{timeDisplay | time}}</p>
  <button mat-stroked-button style="margin-right: 0.5rem;">
    {{category}}
  </button>
  <button mat-flat-button (click)="onTimeClick()" style="margin-left: 0.5rem;"
          [color]="isTrackingTime ? 'warn' : 'primary'">
    <mat-icon>{{isTrackingTime ? 'stop' : 'play_arrow'}}</mat-icon>
    {{isTrackingTime ? 'Stop' : 'Start'}}
  </button>
  <br>
  <button mat-button (click)="onDisplayTimeLog()">Time log</button>
  <button mat-button (click)="openDialog(add)">Add time entry</button>
  <br>
  <p>Today total: {{todayTotal | time:true}}</p>
  <div *ngIf="displayTimeLog" class="mb-3 mx-auto mat-elevation-z2" style="max-width: 500px;">
    <app-time-log></app-time-log>
  </div>
</div>
