<div class="text-center">

  <h1>{{data.action === add ? 'Add' : 'Edit'}} category</h1>

  <form [formGroup]="form">

    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required maxlength="14">
      </mat-form-field>
    </div>

    <div class="mb-2">
      <span>Color: </span>
      <button mat-button (click)="onDisplayColorOptions()" disableRipple="true">
        <div id="selected-color" [ngStyle]="{'background': selectedColor}"></div>
        <mat-icon>{{displayColorOptions ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
      </button>
      <input matInput formControlName="color" hidden>
    </div>

    <div *ngIf="displayColorOptions" id="colors-container" class="mx-auto">
      <div class="color-option" *ngFor="let color of colors" [ngStyle]="{'background': color}"
           (click)="onSelectColor(color)"
           [style.border]="color === selectedColor ? '2px solid black' : '0'"></div>
    </div>

    <mat-dialog-actions align="center">
      <button type="submit" [disabled]="!form.valid" (click)="onSubmit()" mat-button color="primary">Save</button>
      <button mat-button mat-dialog-close color="warn">Cancel</button>
    </mat-dialog-actions>

  </form>

</div>
